@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Fuzzy+Bubbles&family=Roboto+Mono:wght@100&display=swap');
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Alkalami', serif;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    height: 66px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.left img {
    width: 32px;
    height: 23px;
}
.container{
    padding: 0 10vw;
    margin: auto;
}
.containerhead{
    padding: 0 10vw;
    margin: auto;
}

nav{
    font-size: 12px;
}

nav ul li {
    list-style: none;
    padding: 0 12px;
}
.rightbox{
    margin: 12px;
    display: flex;

}


.section1{
    background: rgb(240, 235, 235);
}
.search{
    width: 34vw;
    padding: 7px 17px;
    border: 0.50x solid grey;
    background-color: rgb(238, 247, 247);
}

.homeimg{
    width: 100%;
    margin: 12px 0;
}
.itemimg{
    width: 100%;
    margin: 6px 12px;
}
 .myfooter{
    text-align: center;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background-color: rgb(238, 247, 247);   background-color: rgb(238, 247, 247);
}
@media only screen and (max-width: 500px) {
    .search{
        width: 40vw;
    }
    

}
@media only screen and (max-width: 1600px) {
    nav {
      flex-direction: column;
      justify-items: center;
      align-items: center;
    }
    .containerhead{
        padding: 0 2vw;
    }
    nav ul li{
        padding: 0 4px;
        font-size: 10px;
        list-style: none;
    }
    header{


        height: 122px;
    }
    .rightbox{
        margin: 12px;
        display: flex;

    }
    .right{
        flex-direction: column;
            }
            .flex-wrap{
                flex-wrap: wrapS;
            }
            
  }


  .home{
    text-decoration: none;
    color: black;
  }